.col-md-6 {
	background-color: #FFF;
	border: 1px solid #e0e0e0;
	box-shadow: 1px 1px 1px #e0e0e0;
	text-align: left;
}

.col-md-6 h2,h3,h4,h5,p {
	padding-left:10px;
}

.col-md-6 h2 {
	font-size:24px;
	font-weight:bold;
}

.col-md-6 h3 {
	font-size:20px;
}

.col-md-6 h3 span {
	font-size:14px;
	font-weight: bold;
	padding:3px 8px;
	border-radius: 5%;
	letter-spacing: -1px;
}

.col-md-6 h4 {
	font-size: 16px;
}

.col-md-6 p {
	font-style: italic;
	font-size:12px;
}

.col-md-6 ul {
	background-color: #FFEBBA;
	margin:10px;
	padding-top:10px;
	padding-bottom:10px;
	box-shadow: 1px 1px 1px #e0e0e0;
}

.col-md-6 li {
	letter-spacing: -1px;
	font-size:16px;
	padding-right:40px;
}

.col-md-6 h5 {
	font-weight:bold;
	padding-bottom: 15px;
	border-bottom: 1px solid #e0e0e0;
}

.col-md-6 h5 span {
	font-size:12px;
	background-color: #E6FB8C;
	padding:3px 5px;
	border-radius: 5%;
	letter-spacing: -1px;
	box-shadow: 1px 1px 1px #e0e0e0;
}

.col-md-6 h2 span {
	background-color: rgba(137, 149, 222,0.6);
	margin-left:-40px;
	padding-left:40px;
	padding-right:80px;
	padding-top:3px;
	padding-bottom:3px;
	letter-spacing: -1px;
	border:1px solid #4554B1;
	box-shadow: 1px 1px 1px #e0e0e0;
}

.col-md-6 p span {
	color:#E92A25;
}

.skill img {
	width:100px;
	height:100px;
	box-shadow: 1px 1px 1px #FFF;
	border:1px solid #FFF;
}

.skill .col-sm-6 {
	box-shadow: 1px 1px 1px #FFF;
	border:1px solid #FFF;
}

.skill .col-sm-6 ul {
	height:160px;
}

.skill .col-sm-6 li {
	font-size:14px;
}

.skill .col-sm-6 .progress {
	height:2px;
	margin-bottom:0;
	width:0px;
}

/* Programming Skill Progress */
.skill .java {background-color: #E92A25;}
.skill .ASPNET {background-color: #ff00fa;}
.skill .HTML_CSS {background-color: #ff5000;}
.skill .javascript {background-color: #b421c4;}
.skill .jQuery {background-color: #1daf92;}
.skill .VBA {background-color: #0400ff;}
.skill .SQL {background-color: #027a02;}
.skill .Perl {background-color: #00d8ff;}
/* Professional Skill Progress */
.skill .admin {background-color: #11a377;}
.skill .test {background-color: #966806;}
.skill .web_dev {background-color: #7e16c9;}
.skill .trouble {background-color: #ff1111;}

.check:hover {
	font-weight:bold;
	color: #E92A25;
}

.content {
	border: 1px solid #e0e0e0;
	padding-top: 20px;
	padding-bottom: 40px;
	background-color: #FFEBBA;
}

.content p {
	font-style: normal;
	font-size:16px;
	padding-left:20px;
	padding-right:20px;
	letter-spacing: -1px;
}

.read-more {
	letter-spacing: -1px;
	font-size:14px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #E92A25;
	padding:4px;
	margin-left:20px;
	margin-bottom:20px;
	background-color: inherit;
	color: #E92A25;
}

.read-more:hover {
	background-color: #E92A25;
	color: #FFFFFF;
}

.icon {
	margin:20px;
	text-align: right;
}

.icon img {
	display: inline-block;
	margin:0;
	padding:10px;
	width:50px;
	height:50px;
	border:0px;
	box-shadow: 0px 0px #FFF;
}

.ui-accordion .ui-accordion-header {
	border: 1px solid #e0e0e0;
	display: block;
	cursor: pointer;
	position: relative;
	margin: 0 0 0 0;
	min-height: 0; /* support: IE7 */
	font-size: 100%;
	padding:10px;
	background-color: #f2f2f2;
	border-radius: 5px;
}

.ui-accordion-header:hover {
	border: 1px solid #4554B1;
}

.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    color: #4554B1;
}