.col-md-6 {
	background-color: #FFF;
	border: 1px solid #e0e0e0;
	box-shadow: 1px 1px 1px #e0e0e0;
	text-align: left;
}

.col-md-6 h2,h3,h4,h5,p {
	padding-left:10px;
}

.col-md-6 h2 {
	font-size:24px;
	font-weight:bold;
}

.col-md-6 h3 {
	font-size:20px;
}

.col-md-6 h3 span {
	font-size:14px;
	background-color: #BCE023;
	padding:3px 8px;
	border-radius: 5%;
	letter-spacing: -1px;
}

.col-md-6 h4 {
	font-size: 16px;
}

.col-md-6 p {
	font-style: italic;
	font-size:12px;
}

.col-md-6 ul {
	background-color: #FFEBBA;
	margin:10px;
	padding-top:10px;
	padding-bottom:10px;
	box-shadow: 1px 1px 1px #e0e0e0;
}

.col-md-6 li {
	letter-spacing: -1px;
	font-size:16px;
	padding-right:40px;
}

.col-md-6 h5 {
	font-weight:bold;
	padding-bottom: 15px;
	border-bottom: 1px solid #e0e0e0;
}

.col-md-6 h5 span {
	font-size:12px;
	background-color: #E6FB8C;
	padding:3px 5px;
	border-radius: 5%;
	letter-spacing: -1px;
	box-shadow: 1px 1px 1px #e0e0e0;
}

.col-md-6 h2 span {
	background-color: rgba(137, 149, 222,0.6);
	margin-left:-40px;
	padding-left:40px;
	padding-right:80px;
	padding-top:3px;
	padding-bottom:3px;
	letter-spacing: -1px;
	border:1px solid #4554B1;
	box-shadow: 1px 1px 1px #e0e0e0;
}

.col-md-6 p span {
	color:#E92A25;
}

.skill img {
	width:100px;
	height:100px;
	box-shadow: 1px 1px 1px #FFF;
	border:1px solid #FFF;
}

.skill .col-sm-6 {
	box-shadow: 1px 1px 1px #FFF;
	border:1px solid #FFF;
}

.skill .col-sm-6 ul {
	height:160px;
}

.skill .col-sm-6 li {
	font-size:14px;
}

.skill .col-sm-6 .progress {
	height:2px;
	margin-bottom:0;
}

.skill .java {
	margin-right:90px;
	background-color: #E92A25;
}

.skill .ASPNET {
	margin-right:120px;
	background-color: #ff00fa;
}

.skill .HTML_CSS {
	margin-right:150px;
	background-color: #ff5000;
}

.skill .VBA {
	margin-right:110px;
	background-color: #0400ff;
}

.skill .SQL {
	margin-right:70px;
	background-color: #027a02;	
}

.skill .Perl {
	margin-right:130px;
	background-color: #00d8ff;		
}

.skill .admin {
	margin-right:50px;
	background-color: #11a377;	
}

.skill .test {
	margin-right:120px;
	background-color: #966806;		
}

.skill .web_dev {
	margin-right:150px;
	background-color: #7e16c9;		
}

.skill .trouble {
	margin-right:70px;
	background-color: #ff1111;		
}

.content {
	border: 1px solid #e0e0e0;
}

.content p {
	padding: 20px;
	font-style: normal;
	font-size:16px;
	letter-spacing: -1px;
}

.icon {
	margin:20px;
	text-align: right;
}

.icon img {
	display: inline-block;
	margin:0;
	padding:10px;
	width:50px;
	height:50px;
	border:0px;
	box-shadow: 0px 0px #FFF;
}